/* .product-image {
	width: 30%;
	height: 250px;
	margin: 10px;
	cursor: pointer;
	object-fit: contain; 
}

#image-container {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-wrap: wrap; 
	max-width: 1000px; 
	margin: 0 auto; 
} */
h1 {
	text-align: center;
}

#vote-tracker {
	border: thin solid red;
	display: grid;
	width: 400px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 200px;
}

img {
	height: 100%;
	margin: 0 20px;
}

button {
    border-style: none;
    padding: 10px;
    margin: 20px auto;
}
