.product-image {
	width: 30%;
	height: 250px;
	margin: 10px;
	cursor: pointer;
	object-fit: contain; 
}

#image-container {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-wrap: wrap; 
	max-width: 1000px; 
	margin: 0 auto; 
}

#results-container {
	max-width: 1000px; 
	margin: 20px auto; 
    padding: 20px auto;
}

button {
    border-style: none;
    padding: 10px;
    margin: 20px auto;
}
